// assets/variables.scss
@import '~vuetify/src/styles/styles.sass';

// The variables you want to modify
$font-size-root: 19px;
// For updating SASS lists
// $material-light: map-merge($material-light, ( cards: blue ));
$btn-border-radius: 0px;