<template>
  <v-conatiner fluid class="pa-0 ma-0" tag="nav">
    <v-app-bar app dark flat fixed color="black" class="primary-navbar">
      <v-app-bar-title>Riot Gear Clothing</v-app-bar-title>
      <v-spacer></v-spacer>
      <v-app-bar-nav-icon class="hidden-md-and-up" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <template v-if="$vuetify.breakpoint.smAndUp">
        <v-app-bar-items class="hidden-sm-and-down" v-for="(item, i) in items" :key="i">
          <v-btn class="nav-btn" depressed text tile :to="item.to" router>{{ item.title }}</v-btn>
        </v-app-bar-items>
      </template>
    </v-app-bar>
    <!-- mobile nav -->
    <template v-if="$vuetify.breakpoint.smAndDown">
      <v-navigation-drawer
        v-model="drawer"
        clipped
        fixed
        app
        disable-resize-watcher
        dark
        class="hidden-md-and-up"
        color="black"
      >
        <v-list dark v-for="item in items" :key="item.title">
          <v-list-item :to="item.to" router exact link active-class="pink accent-2 white--text">
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </template>
  </v-conatiner>
</template>

<script>
export default {
  data() {
    return {
      // NAV SETTINGS
      drawer: false,
      title: 'SilenceKillsDesign',
      items: [
        {
          icon: 'mdi-apps',
          title: 'Home',
          to: '/'
        },
        {
          icon: 'bubble_chart',
          title: 'Inspire',
          to: '/inspire'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.primary-navbar {
  margin: 0 !important;
}
.nav-btn {
  margin-right: 1em;
}
</style>