<template>
  <v-app>
    <PrimaryNav />
    <v-content >
      <v-container fluid class="pa-0" fill-height>
        <nuxt />
      </v-container>
    </v-content>
    <PageFooter />
  </v-app>
</template>

<script>
import PrimaryNav from '~/components/global/PrimaryNav.vue'
import PageFooter from '~/components/global/PageFooter.vue'
export default {
  components: {
    PrimaryNav,
    PageFooter
  }
}
</script>

<style>

</style>

