<template>
  <v-container fluid fill-height class="pa-0 hero">
    <v-col>
      <LogoBlock />
      <WelcomeMessage />
    </v-col>
  </v-container>
</template>

<script>
import WelcomeMessage from '~/components/vendor/WelcomeMessage.vue'
import LogoBlock from '~/components/vendor/LogoBlock.vue'

export default {
  components: {
    WelcomeMessage,
    LogoBlock
  }
}
</script>

<style lang="scss" scoped>
.hero {
  background-image: url(~@/assets/img/backgrounds/blackmass.svg);
  background-color: black;
  background-size: cover !important;
}
</style>