<template>
  <v-container fill-height fluid align="center" justify="center" class="hero">
    <v-row class="ma-6" group transition="slide-x-transition">
      <v-col cols="12" class="text-center">
        <img src="~/assets/img/vendor/logo.svg" height="200px" contain alt="Vuetify.js" class="mb-5" />
        <blockquote class="blockquote">
          &#8220;First, solve the problem. Then, write the code.&#8221;
          <footer>
            <small>
              <em>&mdash;John Johnson</em>
            </small>
          </footer>
          <v-btn type="a" title="Homepage" aria-label="vuetify + Nuxt boilerplate home" class="mt-4" outlined large color="white" to="/">Go Home</v-btn>
          <v-btn type="a" title="Vuetify Swatches Download" aria-label="vuetify swatches for illustrator and photoshop"  class="mt-4" outlined large color="white" href="assets/downloads/vuetify_swatches.zip" target="_blank" download>Download Vuetify Swatches</v-btn>
        </blockquote>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.hero {
  background-image: url(~@/assets/img/backgrounds/blackhole.svg);
  background-color: black;
  background-size: cover;

}
</style>