<template>
  <v-container fluid class="pa-0">
    <v-img
      class="hero-image"
      :aspect-ratio="16/9"
      :src="require('~/assets/img/hero/riotgear--hero_img.jpg')"
      lazy-src="~/assets/img/riotgear--lazy.png"
    >
      <v-container fill-height align="center" justify="start">
        <v-row class="pa-2">
          <v-col cols="12" lg="6">
            <template>
              <v-card class="hero-card">
                <v-card-title
                  class="display-3 text-left indigo--text font-weight-bold"
                >Riot Gear Clothing</v-card-title>
                <!-- <v-img :src=""></v-img> -->
                <v-card-text
                  class="text-left title pink--text text--accent-3 font-weight-bold"
                >Quick Turnarounds. Rad Prints. Affordable Pricing.</v-card-text>
                <v-card-actions>
                  <v-btn text large outlined color="indigo">View Brands</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn text large outlined color="pink">Get a Quote</v-btn>
                </v-card-actions>
              </v-card>
            </template>
          </v-col>
        </v-row>
      </v-container>
    </v-img>
  </v-container>
</template>

<script>
export default {}
</script>

<style lang="scss">
.hero-card {
  background: rgba(229, 255, 0, 0.8) !important;
}
.hero-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 1s ease-in-out;
  &:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  }
}
</style>