<template>
  <v-footer>
    <span>&copy; {{ new Date().getFullYear() }} - SilenceKillsDesign</span>
  </v-footer>
</template>

<script>
export default {
  
}
</script>

<style lang="scss">
  
</style>