<template>
  <v-conatiner fluid tag="nav" class="mb-5">

    <!-- main navbar -->
    <v-app-bar dark flat fixed floating scroll-off-screen color="black"  class="primary-nav">
      <v-toolbar-title>Vuetify 2 + Nuxt</v-toolbar-title>
      <v-spacer></v-spacer>
        <v-app-bar-nav-icon class="hidden-md-and-up" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-app-bar-items class="hidden-sm-and-down" v-for="(navItem, i) in navItems" :key="i">
          <v-btn class="nav-btn" depressed text :to="navItem.to" router>{{ navItem.title }}</v-btn>
        </v-app-bar-items>
    </v-app-bar>

    <!-- mobile nav -->
      <v-navigation-drawer
        v-model="drawer"
        peramanent
        clipped
        fixed
        app
        disable-resize-watcher
        dark
        class="hidden-md-and-up"
        color="black"
      >
        <v-list v-for="navItem in navItems" :key="navItem.title">
          <v-list-item :to="navItem.to" router exact link active-class="pink accent-2 white--text font-weight-bold">
            <v-list-item-icon>
              <v-icon>{{ navItem.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ navItem.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
  </v-conatiner>
</template>

<script>

export default {
  data() {
    return {
      // NAV SETTINGS
      drawer: false,
      title: 'SilenceKillsDesign',
      navItems: [
        {
          icon: 'mdi-apps',
          title: 'Home',
          to: '/'
        },
        {
          icon: 'mdi-thought-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.nav-btn {
  margin-right: 1em;
}
.primary-nav {
  max-width: 100vw;
}
</style>